
.hero {
    background-image: url("/public/images/grid-blocks.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #065860;
    height: auto;
    margin: 0;
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  .hero-txt {
    color: white;
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 50px;
    height: 100%;
  }

  .hero-img {
    flex: 70%;
    background-color: white;
    position: relative;
  }

  .hero-img img{
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  #bootcamp-title {
    background-color: #f6bb61;
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    font-weight: bold;
    margin-bottom: 16px;
    width: fit-content;
    padding: 9px 12px;
    border-radius: 40px;
    color: black;
  }
  
  .typed-heading {
    font-size: clamp(1.8rem, 4vw, 3rem);
    margin-bottom: 16px;
    max-width: 711px;
    font-weight: bolder;
    min-height: 200px;
  }
  
.typed-paragraph {
    font-size: clamp(1rem, 1.6vw, 1.2rem);
    margin-bottom: 24px;
    color: #cacece;
    max-width: 681px;
    min-height: 173px;
  }
  
  
  .hero-btns {
    margin-top: 35px;
    height: 48px;
  }
  
  .apply-btn {
    padding: 12px;
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .apply-btn {
    background-color: #f6bb61;
    color: #032c30;
    white-space: nowrap;
    border-radius: 5px;
  }

/* Media queries for responsiveness */
@media (max-width: 1024px) {

  .hero{
    height: auto;
  }

  .hero-content {
    flex-direction: column;
    justify-content: flex-start;
  }

  .hero-txt {
    padding: 100px 20px;
    flex: unset;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements */
    text-align: center; /* Center text */
  }

  .hero-img {
    flex: unset;
    width: 100%;
  }

  .hero-img img {
    height: 60vh;
    object-fit: cover;
  }

  #bootcamp-title {
    font-size: 16px;  /* Adjusted font size */
    margin-bottom: 40px;
  }

  .typed-heading {
    font-size: 40px;  /* Adjusted font size */
    margin-bottom: 20px;
    min-height: 10px;
  }

  .typed-paragraph {
    font-size: 18px;  /* Adjusted font size */
    margin-bottom: 24px;
    max-width: 100%;
    margin-top: 0;
  }

  .hero-btns {
    margin-top: 0;  /* Adjusted margin */
  }

  .apply-btn {
    padding: 10px 20px;
    font-size: 16px;  /* Adjusted font size */
  }
}

@media (max-width: 768px) {
  .hero-content {
    justify-content: center;
    height: auto;
  }

  #bootcamp-title {
    font-size: 13px;  /* Adjusted font size */
  }

  .hero-txt {
    padding: 100px 15px;
    align-items: center; /* Center elements */
    text-align: center; /* Center text */
  }

  .typed-heading {
    font-size: 40px;  /* Adjusted font size */
    margin-bottom: 12px;
  }

  .typed-paragraph {
    font-size: 16px;  /* Adjusted font size */
  }

  .hero-img img {
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .hero-txt {
    padding: 100px 10px;
    align-items: center; /* Center elements */
    text-align: center; /* Center text */
  }

  .typed-heading {
    font-size: 30px;  /* Adjusted font size */
  }

  .typed-paragraph {
    font-size: 14px;  /* Adjusted font size */
    margin-bottom: 16px;  /* Adjusted margin */
  }

  .hero-img img {
    height: 40vh;
  }

  .hero-btns {
    display: flex;
    justify-content: center;
  }

  .apply-btn {
    width: 100%;
    font-size: 14px;  /* Adjusted font size */
    padding: 8px 16px;  /* Adjusted padding */
  }
}
