.priority {
    text-align: center;
    margin: 2rem 0;
    padding: 100px;
  }

  .priority h3{
    width: fit-content;
    margin: 0 auto;
    padding: 9px 12px;
    border-radius: 40px;
    color: white;
    background-color: #065860;
    font-size: clamp(0.9rem, 1.2vw, 1rem);
  }
  
  .priority h1 span {
    color: #f6bb61;
    margin-bottom: 50px;
  }
  
  .targets {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
  }
  
  .target {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
  }
  
  .icon{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 10px;
  }

  .icon img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .target h2 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
  }
  
  .target p {
    font-size: 1rem;
    color: #555;
  }
  
 


@media (max-width: 1024px) {
  .priority {
    padding: 100px 50px; 
  }

  .targets {
    flex-wrap: wrap; 
    gap: 25px;  
    max-width: 700px;
    margin: 0 auto;     
    margin-top: 30px;
  }

  .target {
    width: 40%;      
  }

  .priority h1 {
    font-size: 2rem; 
  }

  .target h2 {
    font-size: 1.1rem; 
  }

  .target p {
    font-size: 0.9rem; 
  }
}


@media (max-width: 768px) {
  .priority {
    padding: 100px 30px;  
  }

  .targets {
    flex-direction: column; 
    align-items: center;
  }

  .target {
    width: 100%;   
    max-width: 350px;
  }

  .priority h1 {
    font-size: 1.8rem; 
  }

  .target h2 {
    font-size: 1rem;   
  }

  .target p {
    font-size: 0.85rem;
  }

  .icon img {
    width: 80px;  
    height: 80px;
  }
}


@media (max-width: 480px) {
  .priority {
    padding: 100px 20px;  
  }

  .priority h1{
    margin-top: 50px;
  }

  .target{
    max-width: 250px;
  }

  .target h2 {
    font-size: 0.9rem;  
  }

  .target p {
    font-size: 0.9rem;  
  }

  .icon img {
    width: 60px;  
    height: 60px;
  }
}
